# Stops lombok from looking at parent directories for more configuration files
config.stopBubbling = true

# Generated setters will return `this` instead of `void`
lombok.accessors.chain = true

# Generated getters and setters will not be prefixed with `get`, `is` or `set`;
# instead, the methods will use the same name as the field (minus prefixes)
lombok.accessors.fluent = true

# Useful for JaCoCo, or other style checkers and code coverage tools
lombok.addLombokGeneratedAnnotation = true

# No need in class name in front
lombok.builder.className = Builder

# Use try-with-resources instead
lombok.cleanup.flagUsage = error

# Use immutable data structures instead
lombok.setter.flagUsage = warning

# Better wrap them properly
lombok.sneakyThrows.flagUsage = warning

# CheckStyle doesn't recognize it
# lombok.val.flagUsage = warning

# Use Java keyword `var` instead
lombok.var.flagUsage = error
